.btn-primary {
  background-color: $primary_dark;
  border-color: $primary_dark;
  border-width: 2px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  &:hover {
    background-color: $white;
    color: $primary_dark;
    border-color: $primary_dark;
  }
}
