@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");
.success {
  border: solid 1px #1E561F;
  background-color: #FCFFF5;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}
.success p {
  margin: 0;
  color: #1E561F;
  font-weight: bolder;
}

.error {
  border: solid 1px #1E561F;
  background-color: #FCFFF5;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}
.error p {
  margin: 0;
  color: #1E561F;
  font-weight: bolder;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

.navbar-brand {
  font-family: "DM Serif Display", serif;
  font-size: 30px;
}

.nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #032D29 !important;
  border-bottom: solid 2px white;
}
.nav-link:hover {
  border-color: #00C9A7;
}

.dropdown-item:hover {
  background-color: rgba(0, 201, 167, 0.4941176471);
}

.register_link-container a {
  color: #8C310F;
  border-bottom: solid #8C310F 2px;
  text-decoration: none;
  font-weight: bold;
}
.register_link-container a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #8C310F;
  border-color: #fff;
}
.register_link-container p {
  margin: 20px 0;
}

.container-fluid {
  margin-top: 50px;
  max-width: 1200px;
}

.list_post-grid {
  display: flex;
  margin: auto;
  max-width: 1000px;
  align-items: center;
  flex-wrap: wrap;
}

.error, .form-error {
  margin-top: 10px;
  padding: 10px;
  background-color: #FFF6F6;
  border: solid 1px #973937;
  border-radius: 5px;
  color: #973937;
  font-weight: 500;
}

.message .success {
  margin-top: 10px;
  padding: 10px;
  background-color: #FCFFF5;
  border: solid 1px #1E561F;
  border-radius: 5px;
  color: #1E561F;
  font-weight: 500;
}

.message_container p {
  padding: 5px;
  margin: 0;
}

.banner_container {
  max-width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile_container {
  display: grid;
}
@media (min-width: 574px) {
  .profile_container {
    grid-template-columns: 200px 1fr;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.profile_container .sidebar_container {
  order: 2;
  border-top: 2px solid #032D29;
  border-bottom: 2px solid #032D29;
  padding-top: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 574px) {
  .profile_container .sidebar_container {
    order: unset;
    margin-top: 4rem;
  }
}
.profile_container .sidebar_container .input_group-container {
  max-width: unset !important;
  border: unset !important;
}

.content_container {
  margin-top: 40px;
}

.create_post {
  border: solid green 2px;
}

.profile_card-list {
  justify-content: center;
}

.btn-primary {
  background-color: #032D29;
  border-color: #032D29;
  border-width: 2px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
}
.btn-primary:hover {
  background-color: #F2EFE9;
  color: #032D29;
  border-color: #D98032;
}

.load_button {
  margin: auto;
  background-color: #032D29;
  border-color: #032D29;
  color: #fff;
  border-width: 2px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
}
.load_button:hover {
  background-color: transparent;
  color: #032D29;
  border-color: #D98032;
}

.info_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info_container div {
  padding: 0 20px;
}
.info_container div p {
  display: inline;
  color: gray;
}
.info_container div span {
  text-transform: capitalize;
}

.card-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card-group .card {
  width: 250px;
}

.banner_container {
  max-width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user_info-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.user_info-container .avatar_container img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 576px) {
  .user_info-container .avatar_container img {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 758px) {
  .user_info-container .avatar_container img {
    width: 150px;
    height: 150px;
  }
}
.user_info-container .username_container {
  width: 100%;
}
.user_info-container .username_container h1 {
  align-items: center;
}

.posts_container {
  max-width: 800px;
  margin: auto;
}
.posts_container .post_details {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #032D29;
  margin: 20px 0;
  padding: 20px 0;
}
@media (min-width: 576px) {
  .posts_container .post_details {
    flex-direction: row;
    align-items: center;
  }
}
.posts_container .post_details img {
  min-width: 100px;
  max-width: 200px;
}
.posts_container .post_details .text_container {
  width: 100%;
}

.form_container {
  margin-top: 40px;
}
.form_container .form-label {
  display: block;
  margin: 0;
  font-weight: 400;
}
.form_container .input-group {
  flex-direction: column;
}
.form_container .input-group .input_group-container {
  display: flex;
  border: solid black 2px;
  width: 60%;
  margin: auto;
}
.form_container .input-group .input_group-container input[type=url] {
  width: 100%;
  border: none;
  line-height: 1.5;
  height: calc(1.5em + 0.75rem + 2px);
}
.form_container .input-group-text {
  background-color: #fff;
  border: none;
}
.form_container .form-control {
  border: none;
}
.form_container .btn {
  margin: 20px 0;
}

.dashboard_layout .sidebar_container .input_group-container {
  border: unset;
  max-width: 50%;
}
@media (min-width: 574px) {
  .dashboard_layout .sidebar_container .input_group-container {
    max-width: 100%;
    margin: 0;
  }
}

.card {
  margin: 10px auto;
  width: 300px;
}
.card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-body {
  padding: 10px 20px;
}

a.author_name {
  text-transform: capitalize;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #B6BFB0;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
}
a.author_name:hover {
  background-color: #032D29;
  cursor: pointer;
}

.card-title {
  text-transform: capitalize;
}

.profile_card {
  width: 250px;
  margin: 10px;
  border: 2px solid white;
}
.profile_card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile_card .followers_container {
  display: flex;
  justify-content: center;
}
.profile_card .followers_container p {
  padding: 0 10px;
}
.profile_card a {
  color: black;
}
.profile_card a:hover {
  text-decoration: none;
}
.profile_card:hover {
  box-shadow: 2px 8px 15px 0px #888888;
  border: 2px solid #00C9A7;
  text-decoration: none;
}

.profile_image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.following_container {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.following_container p {
  font-weight: bold;
}

.comments {
  border-top: #032D29 solid 2px;
  max-width: 600px;
  margin: auto;
  margin-top: 5rem;
}
.comments .comment_container {
  margin: 20px 0;
  display: flex;
}
.comments .comment_container .comment_body {
  padding-left: 20px;
  width: 100%;
  text-align: start;
}
.comments .comment_container .comment_owner {
  padding: 0 20px;
  width: 40%;
  text-align: start;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */