.form_container{
 margin-top: 40px;

 .form-label{
  display: block;
  margin: 0;
 }
 .input-group{
  flex-direction: column;
   .input_group-container{
    display: flex;
    border: solid black 2px;
    max-width: 50%;
    margin: auto;
  
  }
 }
 .input-group-text{
  background-color: $white;
  border:none;
 }
 .form-control{
  border:none;

 }
  .btn{
    margin: 20px 0;
  }
}

.dashboard_layout{
.sidebar_container{
  .input_group-container{
    border: unset;
    max-width: 50%;  
    @media(min-width: 574px){
      max-width: 100%;  
      margin: 0;

      
    }
  }
}
}